/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

body {
    padding-top: 20px;
}
.footer {
    border-top: 1px solid #EEEEEE;
    margin-top: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
}
.jumbotron {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.nav-justified {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
}
.nav-justified > li > a {
    background-color: #E5E5E5;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #E5E5E5 100%);
    background-repeat: repeat-x;
    border-bottom: 1px solid #D5D5D5;
    color: #032F55;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}
.nav-justified > .active > a, .nav-justified > .active > a:hover, .nav-justified > .active > a:focus {
    background-color: #DDDDDD;
    background-image: none;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15) inset;
}
.nav-justified > li:first-child > a {
    border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
    border-bottom: 0 none;
    border-radius: 0 0 5px 5px;
}
@media (min-width: 768px) {
.nav-justified {
    max-height: 52px;
}
.nav-justified > li > a {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #D5D5D5;
}
.nav-justified > li:first-child > a {
    border-left: 0 none;
    border-radius: 5px 0 0 5px;
}
.nav-justified > li:last-child > a {
    border-radius: 0 5px 5px 0;
    border-right: 0 none;
}
}
@media screen and (min-width: 768px) {
.masthead, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
}
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

h1 {
    color: #032F55;
}

h3.logo-ucsp {
    background-image: url('/img/logo-ucsp.png');
    background-repeat: no-repeat;
    padding-left: 100px;
    height: 100px;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  height: 100%;
  border-radius: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

