---
layout: default
title: Nosotros
---

<h1>Nosotros</h1>

<p>
Formamos profesionales orientados a la creación de nuevas tecnologías
computacionales que permitan impulsar la industria del software,
capaces de diseñar y desarrollar desde infraestructura de plataformas
como sistemas operativos, programas de comunicación, entre otros,
hasta aplicaciones de tecnologías como navegadores de Internet, bases
de datos, motores de búsqueda, etc.
</p>


<h2>Perfil del egresado</h2>

<p>
El egresado del Programa Profesional de Ciencia de la Computación es capaz de:
</p>
<ul>
  <li>Desarrollar tecnología computacional buscando el bien común de los
  individuos, la sociedad y las organizaciones.</li>
  <li>Aportar con su formación humana y sus capacidades científicas y
  profesionales con la solución de los problemas sociales de nuestro
  entorno.</li> 
  <li>Transformar, acelerar y ampliar los límites de cualquier área del
  conocimiento a través de soluciones innovadoras basadas en el uso
  eficiente de tecnología computacional. </li>
  <li>Adaptarse rápidamente a los cambios tecnológicos debido a su
  formación basada en la investigación constante. </li>
  <li>Trabajar y liderar equipos multidisciplinarios que llevan a cabo
  proyectos de innovación tecnológica.</li> 
  <li>Incrementar las ventajas competitivas de cualquier organización
  a través del uso eficiente de tecnología computacional gracias a su
  alta capacidad de abstracción. </li>
  <li>Crear empresas de base tecnológica.</li>
  <li>Poder seguir estudios de postgrado con exigencia internacional
  en áreas relacionadas.</li> 
</ul>

<h2>Comite consultivo</h2>

<ul>
  <li><strong>Gonzalo Begazo</strong> (Vicepresidente Ejecutivo De Aje
  Group). VP del grupo AJE que funciona en más de 20 países además de
  haber trabajado varios años en Google en California.</li>
  <li><strong>Willy Lopez</strong> (Project Manager en Tata
  Consultancy Services). Estuvo a cargo del equipo de desarrollo de
  software del Banco de Crédito del Perú por varios años en Arequipa y
  actualmente trabaja en TCS (Tata Consultancy Services). </li>
  <li><strong>Prof. Dr. Guillermo Cámara</strong> (Universidad Federal
  de Ouro Preto - Brasil). Realizó sus estudios  en computación en
  Francia y en Brasil  y es actualmente profesor en la Universidad
  Federal de Ouro Preto - Brasil. </li>
  <li><strong>Dr. Percy Pari Salas</strong> especialista en Ingeniería
  de Software en Australia. </li>
  <li><strong>Prof. Daltro Nunes</strong> (Universidad Federal Rio
  Grande do Sul – Brasil). El Prof. Daltro fue responsable de  la
  creación de las directrices curriculares para todo el Brasil.
  </li>
</ul>


<h2>Grado y título</h2>

<p>Grado académico de Bachiller en Ciencia de la Computación.</p>
<p>Título profesional de Licenciado en Ciencia de la Computación.</p>
