---
layout: default
title: Contacto
---

<h1>Contacto</h1>

<hr>

<address>
  <strong>Escuela de Ciencia de la Computación</strong><br>
  Campus Campiña Paisajista s/n Quinta Vivanco, Barrio de San Lázaro<br>
  Universidad Católica San Pablo<br>
  Arequipa<br>
  Peru<br>
  <abbr title="Phone">P:</abbr> +(51) 54-605630
</address>

<hr>


<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Universidad+Cat%C3%B3lica+San+Pablo+(San+L%C3%A1zaro),+Arequipa,+Arequipa+Region,+Peru&amp;aq=0&amp;oq=universidad+cat%C3%B3lica+san+pablo&amp;sll=37.0625,-95.677068&amp;sspn=42.445866,79.013672&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=-16.389752,-71.535673&amp;spn=0.006295,0.006295&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Universidad+Cat%C3%B3lica+San+Pablo+(San+L%C3%A1zaro),+Arequipa,+Arequipa+Region,+Peru&amp;aq=0&amp;oq=universidad+cat%C3%B3lica+san+pablo&amp;sll=37.0625,-95.677068&amp;sspn=42.445866,79.013672&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=-16.389752,-71.535673&amp;spn=0.006295,0.006295" style="color:#0000FF;text-align:left">View Larger Map</a></small> 
