---
layout: default
title: Educación
---

<h1>Educación</h1>

<div class="jumbotron">
  <img src="/img/malla-curricular-ciencia-computacion-thumb.jpg" alt="Malla curricular 2010">
  <br>
  <p>
  <br>
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Ver malla gráfica
  </button>
  <a href="http://education.spc.org.pe/Peru/CS-UCSP/Plan2010/" class="btn btn-default">Plan de estudios 2010</a>
  </p>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Malla curricular 2010</h4>
      </div>
      <div class="modal-body">
         <img src="/img/malla-curricular-ciencia-computacion.jpg" alt="Malla curricular 2010">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
