---
layout: default
title: Inicio
---

<div class="col-md-4">
  <h3>Concurso Escolar de Programación</h3>
  <div class="thumbnail">
    <img src="/cep2014/img/compite.jpg" alt="CEP 2014">
    <div class="caption">
      <p>El Concurso Escolar de Programación es una competencia que fomenta
         la creatividad e innovación a través del análisis y solución de
         problemas computacionales. En esta segunda edición, los participantes 
         probarán sus habilidades de abstracción, diseño de algoritmos y 
         programación en un ambiente competitivo.
      </p>
      <p>
        <a href="http://cs.ucsp.edu.pe/cep2014/" alt="Concurso Escolar de
        Programación" class="btn btn-primary" role="button">¡Participa!</a>
      </p>
    </div>
  </div>
</div>

<div class="col-md-4">
  <h3>Eventos</h3>
  <iframe src="https://www.google.com/calendar/embed?mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ucsp.edu.pe_duundcvua52otlt91bgduqqfak%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=America%2FLima" style="border-width:0;" width="100%" height="400" frameborder="0" scrolling="no"></iframe>
  <br>
  <a href="http://ucsp.us7.list-manage.com/subscribe?u=fec3b5e925f1313ca5a40ab85&id=fc8919a4bc">Ent&eacute;rate acerca de nuestros eventos.</a>
</div>

<div class="col-md-4">
  <h3>Talleres 2014</h3>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h4 class="panel-title">
	<a data-toggle="collapse" data-parent"#accordion" href="#collapseOne">
	Taller de Criptografía
	</a>
	</h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
	<div class="panel-body">
	  <strong>Horario</strong>: martes 11:30-13:45, Laboratorio C, Campus San Lázaro.
	  <br>
	  <strong>Profesora</strong>: Ana María Cuadros Valdivia
	  <br>
	  <strong>Objetivos</strong>
	  Conocer los principales algoritmos y técnicas de los principales algoritmos  criptográficos. Se analizará que  tan difícil es atacar o quebrar un sistema de encriptación. Así mismo, se investigará los recientes avances en el campo de los criptosistemas y criptoanálisis
	</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
	<h4 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
	  Taller de Robótica y Visión Computacional
	</a>
	</h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
	<div class="panel-body">
	  <strong>Horario</strong>: sábados 16:00-18:00, Laboratorio
  de Robótica y Visión Computacional, Campus Salaverry.
	  <br>
	  <strong>Profesores</strong>: Dennis Barrios y Raquel Patiño
	</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
	<h4 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
	Taller de Computación Gráfica
	</a>
	</h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
	<div class="panel-body">
	  <strong>Horario</strong>: viernes 10:45-13:00, Laboratorio E, Campus 
  San Lázaro.
	  <br>
	  <strong>Profesor</strong>: Marc-Antoine Le Guen
	</div>	  
      </div>      
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
	<h4 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
	Taller de Videojuegos
	</a>
	</h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
	<div class="panel-body">
	  <strong>Horario</strong>: martes 11:30-14:30. Laboratorio B,
  Campus San Lázaro.
	  <br>
	  <strong>Profesor</strong>: Marc-Antoine Le Guen
	</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
	<h4 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion"
  href="#collapseFive">
	Taller de Programación Competitiva (ACM)
	</a>
	</h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
	<div class="panel-body">
	  <strong>Horario</strong>: martes 11:30-14:30. Laboratorio B,
  Campus San Lázaro.
	  <br>
	  <strong>Profesor</strong>: Joshimar Córdova
	  <br>
	  <strong>Objetivo</strong>: El taller busca enseñar como
  resolver problemas algorítmicos similares a los que se usan en
  concursos/olimpiadas de programación y motivar el estudio de
  algoritmos, programación y matematica. Se estudiaran las técnicas
  algorítmicas para poder resolver estos problemas como programación
  dinamica, backtracking, estructuras de datos, teoria de grafos entre
  otros. Tambien se profundizara el uso de los lenguajes C++ y Java
	</div>
      </div>
  </div>
<!-- end talleres -->
</div>
</div>
<!-- row -->
</div>

<div class="row">
      <!-- START THE FEATURETTES -->
<br>
  <br>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">¿Qu&eacute; es Ciencia de la Computación?. <span class="text-muted">Ent&eacute;rate.</span></h2>
          <p class="lead">Entrevista al Director del Programa
        Profesional de Ciencia de la Computación de la <a href="http://www.ucsp.edu.pe">Universidad
        Católica San Pablo</a> en el programa Mundo Empresarial de Canal N.</p>
        </div>
        <div class="col-md-5">
	  <iframe width="420" height="315" src="//www.youtube.com/embed/b-P2rZdlFaw?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>


      <!-- /END THE FEATURETTES -->
