---
layout: default
title: Docentes
---

<h1>Docentes</h1>

<h2>Director</h2>


<div class="col-md-4">
  <img src="/img/ecuadros.jpg" alt="Dr. Ernesto Cuadros">
</div>

<div class="col-md-8">
  <h3>Dr. Ernesto Cuadros Vargas</h3>

      <p>Recibió su PhD en Ciencia de la Computación en la Universidad
      de Sao Paulo-Brasil. Como parte de sus estudios de PhD, el
      Prof. Cuadros-Vargas ha tenido pasantías en Universidad Carnegie
      Mellon de los Estados Unidos (2001) y la Technischen Universitat
      Berlin de Alemania (2002). 
      </p>

      <p>
	Es fundador y miembro de la Sociedad de Computación Peruana y ha
	ocupado la presidencia desde 2001 hasta 2007. El Dr. Cuadros también
	es representante de Perú ante el Centro Latinoamericano de
	Informática (CLEI).
      </p>

      <p>
	Es miembro del Directorio de Actividades Educativas
	(Educational Activities Board) de IEEE (2006-2008). El
	Dr. Cuadros ha sido invitado como expositor en diversos
	eventos internacionales en Brasil, Chile, Estados Unidos,
	Canadá, Japón, China, entre otros. 
      </p>

      <p>Sus principales áreas de interés son la Educación Superior en
      Computación, Recuperación de Información por Similaridad,
      Métodos de Acceso y Redes Neuronales. 
      </p>
      <p><a href="http://socios.spc.org.pe/ecuadros/" class="btn btn-primary" role="button">Página web</a></p>
</div>

<h2>Docentes</h2>

<table class="table">

<tr>
<th>Docente</th><th>Correo electrónico</th><th>Página web</th><th>Oficina / horario</th>
</tr>

<tr>
<td>
<strong>Dr. Ernesto Cuadros-Vargas</strong>
<p>
Member of the Computing Curriculum Steering Committee for the Computer
Science 2013 (CS2013) volume <br>
Dr. Cs. de la Computación, ICMC-U de Sao Paulo, Brasil 2004<br>
Mag. Cs. de la Computación, ICMC-U de Sao Paulo, Brasil 1998 <br>
Secretario Ejecutivo del CLEI <br>
Miembro del Educational Activities Board (EAB) del IEEE (2006-2009) y del EAB-IEEE-CS (2010)<br>
Co-fundador y primer presidente (2001-2007, 2009-2010) de la Sociedad Peruana de Computación - SPC
</p>
</td>
<td>
ecuadros@ucsp.edu.pe 
</td>
<td></td>
<td>
Dirección del P.P. de Ciencia de la Computación, 3er piso, Campus de San Lázaro.
</td>
</tr>

<tr>
<td>
<strong>Mag. Luis Fernando Díaz Basurco</strong>
<p>
Licenciado en Matemática, PUCP, Lima 1981 <br>
Mag. en Ciencias Matemáticas, PUCP, Lima 1990 <br>
Mag. en Informática, PUCP, Lima 1987 <br>
Miembro de la Sociedad Peruana de Matemática <br>
Miembro de la Sociedad Peruana de Computación <br>
</p>
</td>
<td>ldiaz@ucsp.edu.pe </td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Dr. Alex Cuadros-Vargas</strong>
<p>
Post Doctor Cs. de la Computación, U de Sao Paulo, Brasil<br>
Dr. Cs. de la Computación, U de Sao Paulo, Brasil<br>
Mag. Cs. de la Computación, U de Sao Paulo, Brasil<br>
Investigador invitado en Department of Radiology, University of Pennsylvania (UPENN), USA 2009<br>
Profesor invitado en Scientific Computing and Imaging Institute (SCI) en Utah State University, USA 2010 <br>
Co-fundador de la SPC
</p>
</td>
<td>
acuadros@ucsp.edu.pe 
</td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Dr. Dennis Barrios Aranibar</strong>
<p>
Dr. en Ingeniería de Computación, UFRN, Brasil 2009<br>
Mag. en Ingeniería de Computación, UFRN, Brasil<br>
Miembro de la Sociedad Peruana de Computación 
</p>
</td>
<td>
dbarrios@ucsp.edu.pe 
</td>
<td>
</td>
<td>
</td>
</tr>

<tr>
<td>
<strong>Dr. Raquel Patiño Escarcina</strong>
<p>
Dr. en Ingeniería de Computación, UFRN, Brasil 2009<br>
Mag. en Ingeniería de Computación, UFRN, Brasil<br>
Miembro de la Sociedad Peruana de Computación 
</p>
</td>
<td>
rpatino@ucsp.edu.pe 
</td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Dr. Javier Tejada Carcamo </strong>
<p>
Dr. en Ciencia de la Computación, IPN, México, 2009<br>
Miembro de la Sociedad Peruana de Computación 
</p>
</td>
<td>jtejadac@ucsp.edu.pe </td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Dr. Yván Túpac Valdivia</strong>
<p>
Dr. Computación PUC-Rio 2005<br>
Miembro de la Sociedad Peruana de Computación 
</p>
</td>
<td>ytupac@ucsp.edu.pe </td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Mag. Juan Carlos Gutiérrez Cáceres</strong>
<p>
Mag. Cs. de la Computación, U. de Sao Paulo<br>
Co-fundador de la SPC
</p>
</td>
<td>jcgutierrezc@ucsp.edu.pe </td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Mag. Christian Delgado Polar</strong>
<p>
Mag. Cs. de la Computación, U. Federal de Minas Gerais
</p>
</td>
<td>cjdelgado@ucsp.edu.pe </td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Mag. Ana María Cuadros Valdivia</strong>
<p>
Mag. Cs. de la Computación, U. de São Paulo
</p>
</td>
<td>ana.maria.cuadros@ucsp.edu.pe </td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Mag. Cristian Lopez del Álamo</strong>
<p>
Mag. en Ingeniería de Software, Universidad de Tarapacá, Chile, 2010
</p>
</td>
<td>clopez@ucsp.edu.pe </td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Mag. Elizabeth Vidal</strong>
<p>
Pasantía en Universidad de Singapur<br>
Pasantía en Universidad de las NU, Macao. China
</p>
</td>
<td>evidal@ucsp.edu.pe </td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Regina Ticona Herrera</strong>
<p>
MBA en incubadoras de empresas de base tecnológica, Universidad de Mondragón, España, 2006<br>
Ingeniera Informática, UCSP, 2003<br>
Técnico en Computación e Informática, ISUR, 1999<br>
Bac. en Derecho, UNSA, 2002<br>
Miembro de la Sociedad Peruana de Computación
</p>
</td>
<td>rticona@ucsp.edu.pe</td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Lic. Arturo Moisés Salazar Monroy</strong>
<p>
Especialista en Gerencia de Proyectos y Calidad, PUCP, Lima 2007<br>
Licenciado en Ciencias de la Comunicación, UNSA, Arequipa 2006<br>
Productor Asocación Cultural Arlequín Teatro (2007 - 2011)<br>
Co-fundador y director del Elenco Teatral de la UCSP (2008 - 2011)
</p>
</td>
<td>asalazar@ucsp.edu.pe </td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Mag. Anita G. Mamani Champi</strong>
<p>
Mag. en Matemática, UFF, Brasil 2005
</p>
</td>
<td>agmamanic@ucsp.edu.pe</td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Mag. Edward Zárate Carlos</strong>
<p>
Candidato a Doctor en Ciencias de la Computación, UNSA Cátedra Concytec<br>
Mag. en Administración MBA Universidad ESAN, 1999<br>
Certificaciones Internacionales: PMP, CISA,CISM, GEIT, ITIL Foundations, SEI CMMI Certificate, Certified ScrumMaster<br>
Ingeniero de Sistemas, UCSM, 1995<br>
Ingeniero Industrial, UNSA, 1996<br>
Miembro del PMI, ISACA, EXIN, SEI y Scrum Alliance
</p>
</td>
<td>ezarate@ucsp.edu.pe </td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Mag. Carmen Magdalena Barakat de Carpio</strong>
<p>
Bachiller en Ciencias de la Educación, UCSM<br>
Mag. en Educación Superior, UCSM<br>
Licenciada en Educacuión especialidad Letras 
</p>
</td>
<td>carmenbarakat@ucsp.edu.pe </td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Angel Evaristo Chávez Contreras</strong>
<p>
Bachiller en Ciencias de la Educación <br>
Mag. en Asesoramiento Educativo por el Centro Villanueva
</p>
</td>
<td>achavezc@ucsp.edu.pe </td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Lic. Christian Ortiz Martinez</strong>
</td>
<td>cortiz@ucsp.edu.pe</td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Deisy Virginia Mayorí Velásquez</strong>
<p>
Lic. Matemática, UNSA, Arequipa 2000<br>
Estudios de Maestria en Matemática, PUCP, Lima 2006
</p>
</td>
<td>dmayori@ucsp.edu.pe</td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Rubel Dorjin Linares Málaga</strong>
<p>
Licenciado en Física<br>
Mag. Seguridad y Medio Ambiente
</p>
</td>
<td>rlinares@ucsp.edu.pe</td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Luz Marina Vásquez Quispe</strong>
<p>
Licenciada en Matemática, UNSA, 2000
</p>
</td>
<td>lvasquez@ucsp.edu.pe</td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>José Alonso Peñarrieta Escobedo</strong>
<p>
Ingeniero Informático, UCSP, 2008
</p>
</td>
<td>jpenarrieta@ucsp.edu.pe</td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Renzo Julio acosta Araníbar</strong>
<p>
Ingeniero Electrónico, UNSA
</p>
</td>
<td>racosta@ucsp.edu.pe</td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Gina Lovon Alvarado</strong>
<p>
Ingeniera de Sistemas, UNSA, 2005
</p>
</td>
<td>glovon@ucsp.edu.pe</td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Renzo Hernán Medina Zeballos</strong>
<p>
Ingeniero de Sistemas, UCSM<br>
DBA en Microsoft SQL Server 2005<br>
MCSA, MCSE, MCP<br>
Mag. Tecnología de Información, Universidad Pedro Ruiz Gallo 
</p>
</td>
<td>rmedina@ucsp.edu.pe</td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Pamela Denisse Cabala Banda</strong>
<p>
Licenciada en Sociología
</p>
</td>
<td>pamela.cabala@ucsp.edu.pe</td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Ing. Yamilet Serrano Llerena</strong>
<p>
Ingeniera Informática, UCSP
</p>
</td>
<td>yamilet.serrano@ucsp.edu.pe</td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Alfredo Paz Valderrama</strong>
<p>
Ingeniero de Sistemas
</p>
</td>
<td>apaz@ucsp.edu.pe</td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Abog. Mónica Widmann Orihuela</strong>
<p>
Coordinadora de Programas Educativos por Fundación Backus<br>
Jefe de Capacitación Regional Sur del Grupo Santillana
</p>
</td>
<td>mwidmann@ucsp.edu.pe</td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Ing. Jhon Cano Chávez</strong>
<p>
Ingeniero de Sistemas, UCSM<br>
Supervisor de Desarrollo de Aplicaciones BCP
</p>
</td>
<td>jcano@ucsp.edu.pe</td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Mag. Roger Silva Miller</strong>
<p>
Mag. en Filosofía por la Pontificia Universidad Católica de Río de Janeiro (PUC-RIO)<br>
Licenciado en Filosofía por la Universidad Católica de
Petrópolis-Brasil
</p>
</td>
<td>rsilva@ucsp.edu.pe </td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Judith Hayde Cruz Torres</strong>
<p>
Dr. en Ciencias, Área: Matemáticas, Universidad Sao Paulo, Brasil
</p>
</td>
<td>jcruzt@ucsp.edu.pe</td>
<td></td>
<td></td>
</tr>

<tr>
<td>
<strong>Patricio Morriberón Cornejo</strong>
<p>
Ingeniero Informático, UCSP
</p>
</td>
<td>pmorriberon@ucsp.edu.pe</td>
<td></td>
<td></td>
</tr>
</table>
