---
layout: default
title: Investigación
---

<h1>{{ page.title }}</h1>


<h2>Centro de Investigación en Ciencia de la Computación</h2>
<p>
El Centro de Investigación en Ciencia de la Computación, CICC, es una
entidad dedicada a la investigación, innovación científica y
tecnológica en el área de computación. 

<a href="http://cicc.ucsp.edu.pe">Ir a sitio web</a>.
</p>