<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page.title }} - Escuela de Ciencia de la Computación de la Universidad Católica San Pablo.">
    <meta name="author" content="{{ site.author }}">
    <meta name="keywords" content="ucsp, san pablo, universidad catolica san pablo, arequipa, investigacion, computer science, ciencia computacion, catholic university peru" />
    <meta name="rights" content="Derechos Reservados, Universidad Católica San Pablo 2013 - 2014" />
    <title>{{ page.title }} | {{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link href="/css/carousel.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="masthead">
	<h3 class="logo-ucsp">{{ site.name }}
	<p class="small">{{ site.institution }}</p>
	</h3>
        <ul class="nav nav-justified">
          <li><a href="/">Inicio</a></li>
          <li {% if page.path == "about.html" %}class="active"{% endif %}><a href="about.html">Nosotros</a></li>
          <li {% if page.path == "people.html" %}class="active"{% endif %}><a href="people.html">Docentes</a></li>
          <li {% if page.path == "education.html" %}class="active"{% endif %}><a href="education.html">Educación</a></li>
          <li {% if page.path == "research.html" %}class="active"{% endif %}><a href="research.html">Investigación</a></li>
        </ul>
      </div>

    
      <div class="row">
	{{ content }}
      </div>

      <!-- FOOTER -->
      <div class="footer">
        <p class="pull-right"><a href="#">Arriba</a></p>
        <p>&copy; 2013, {{ site.name }} - <a href="http://www.ucsp.edu.pe">{{ site.institution }}</a> &middot; <a href="/contact.html">Contacto</a></p>
      </div>

    </div><!-- /.container -->
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
